<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC4pQ64SMydUnjRy69OcvsPNiZ8JokukVk</string>
	<key>GCM_SENDER_ID</key>
	<string>256905096017</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-eb5df</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-eb5df.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:256905096017:ios:677c8fa1a96884c4e74170</string>
	<key>DATABASE_URL</key>
	<string>https://chat-app-eb5df-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>