<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBUaJdWU1LoQ55ydiuO1mUhsAfAT3MtBYs</string>
	<key>GCM_SENDER_ID</key>
	<string>699050401031</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.agoraChatModule</string>
	<key>PROJECT_ID</key>
	<string>realtime-chat-c4626</string>
	<key>STORAGE_BUCKET</key>
	<string>realtime-chat-c4626.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:699050401031:ios:2a0ee43316322239a979a2</string>
</dict>
</plist>